<p>home works!</p>
<!-- <p class="title">{{ message }}</p>
<disney-my-button></disney-my-button>

<label>Hazme click</label>
<button (click)="onButtonClick(true)">Muestra gatitos</button>
<button (click)="onButtonClick(false)">Oculta gatitos</button>

<div *ngIf="showCats">
  <p>Img1</p>
  <img src="{{img.src}}" alt="{{img.alt}}">
  <p>Img2</p>
  <img [src]="img.src" [alt]="img.alt">
</div>

<div [hidden]="showCats">
  Otro ejemplo
  <input type="text" />
</div>

<ul>
  <li *ngFor="let character of characterList; let i = index;">
    [{{i}}] Nombre del Character: {{character.name}} - {{character.id}} | {{character.species}}
  </li>
</ul>

 -->
